.detail-container{
    display: flex;
    justify-content: space-between;
    background-image: url(../../assets/IMG/fondo-plantas.jpg);
    height: 850px;
}

.image-container{
    margin-top: 100px;
    margin-left: 300px;
    background-color: rgb(129, 208, 129);
    width: 525px;
    height: 625px;
    border-radius: 30px;
}

.image-container img{
    border-radius: 30px;
    height: 600px;
    width: 500px;
    margin-top: 12.5px;
    margin-left: 12.5px;
}

.text-container{
    margin-top: 150px;
    margin-right: 200px;
    height: 500px;
    width: 25%;
}
    
.botonera{
    display: inline-block;
}
    
#button-add{
    background-color: rgb(129, 208, 129);
    border-radius: 5px;
    border: solid 2px rgb(36, 109, 24);
    margin-top: 10px;
    font-size: 15px;
    width: 100px;
}
    
#button-add:hover{
    scale: 1.025;
}